#footer {
  width: 100%;
  height: auto;
  background-color: #e0a866;

  padding: 2% 10%;
}

#footer img {
  width: 50px;
}

#footer_upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#footer_upper div:first-child {
  width: 82.5%;
}

#footer_line {
  width: 100%;
  height: 2px;
  background-color: #271f1f;
  margin-top: 30px;
  margin-bottom: 20px;
}

#footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-brands {
  color: #271f1f;
  font-size: 24px;
  margin-left: 10px;
}
